<template>
  <Layout>

    <h2>Detail Page</h2>
    <g-link to="/" class="back">Back</g-link>
    <div class="row">

      <div class="col-md-3">
        <img :src="$page.article.image" class="img-fluid mb-3" style="max-height: 400px;" alt="">
      </div>

      <div class="col-md-9">
        <h1 class="articlePage__title">{{$page.article.title}}</h1>

         <p>{{$page.article.author}}</p>
         <p>{{$page.article.date}}</p>
         <div v-html="$page.article.content"></div>
      </div>

    </div>

  </Layout>
</template>
<page-query>
query ($path: String!) {
  article: articles (path: $path) {
    title
    content
    author
    image
  }
}
</page-query>
<script>
export default {
  components: {},
  metaInfo() {
    return {
      title: this.$page.article.title
    };
  }
};
</script>

