<template>
  <Layout>

    <!-- <g-image alt="Example image" src="~/favicon.png" width="135" /> -->

    <h1>Netlify CMS Hello, world!</h1>
    <p>List of blog posts.</p>

    <h2>List articles</h2>

      <div class="row">
        <div v-for="article in $page.articles.edges" :key="article.id" class="col-md">
           <!-- <div class="article__img" :style="{ 'background-image': 'url(' + article.node.image + ')' }"></div> -->
           <g-link :to="article.node.path" class="article__link">
             <img :src="article.node.image" class="img-fluid mb-3" style="max-height: 400px;" alt="">
             <h3 class="article__title">{{article.node.title}}</h3>
           </g-link>

           <p class="article__abstract">{{article.node.abstract}}</p>
         </div>
      </div>


  </Layout>
</template>

<page-query>
query {
  articles: allArticles {
    edges {
      node {
        title
        abstract
        image
        path
      }
    }
  }
}
</page-query>
<script>
export default {
  metaInfo: {
    title: "My blog"
  }
};
</script>

<style>


.article__img {
  width: 250px;
  height: 140px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  margin-right: 15px;
}
@media screen and (max-width: 992px) {
  .article__img {
    width: 100%;
    height: 180px;
  }
}
</style>
